.green-bg-dark{
  background-color: #31BC37;
}

.first-image{
  max-width: 100%;
}

.green-text{
  color: #31BC37;
}

.round-btn{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.total-pembayaran{
  width: 100%;
  height: 5rem;
  background-color: #ECFFEC;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
}

.gor-card{
  margin: 1rem 0;
}

.logo-outline{
  outline-color: white;
  outline-style: solid;
}