#header{
    background-image: url(/assets/header-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 40vh;
    color: white;
}

.bg-img{
    background: rgba(0, 0, 0, 0.5);
    height: 40vh;
}

#rekomendasi{
    margin-top: 2rem;
    padding-top: 1rem;
}

.gor-card{
    margin: 1rem 0;
}

.icon-olahraga{
    width: 15rem;
    height: 15rem;
}

.kategori{
    padding: 1rem;
}

.icon-size{
    height: 3rem;
    width: 3rem;
    color: #31BC37;
}

.green-bg{
    background-color: #ECFFEC;
}